---
export interface Props {
  id: string;
  title: string;
  img: string;
}

const { id, title, img } = Astro.props;

export const CARD_SCALE = 10;
export const CARD_W = 3 * CARD_SCALE;
export const CARD_H = 3.5 * CARD_SCALE;

export const PLACEHOLDER_IMG = `https://placehold.co/${CARD_W}x${CARD_H}/F84/FEC?font=roboto&text=.`;
---

<div class="flex flex-col justify-center">
  <a
    class="hover:scale-105 hover:shadow-2xl hover:contrast-200 inline-block transition-all card-rounded"
    href={`/${id}`}
  >
    <img
      class={`aspect-[${CARD_W}/${CARD_H}] h-full w-full object-cover card-rounded`}
      src={img}
      alt={`Type a nice alt about the ${title}`}
    />
    <span
      class="block text-center p-2 font-bold -translate-y-28 bg-accent-dark-75 fg-accent-light"
    >
      {title}
    </span>
  </a>
</div>

<style>
  .card-rounded {
    border-radius: 0.75rem /* 12px */;
  }
</style>
